<h2>Search</h2>

<div class="input">
  <label>General Search:</label>
  <input placeholder="Search" />
</div>

<div class="input">
  <label>Line Of Business:</label>
  <select #ls (change)="onLOBSelect(ls.value)">
    <option *ngFor="let lob of lobs"
      value="{{lob.id}}">
        {{lob.name}}
    </option>
  </select>
</div>

<div class="input">
  <label>Status:</label>
  <select #ss (change)="onStatusSelect(ss.value)">
    <option *ngFor="let status of statuses"
      value="{{status.id}}">
        {{status.name}}
    </option>
  </select>
</div>

<div>
<!--
<div *ngIf="selectedLOB==1 && selectedStatus==1">
-->
  <div class="input">
    <label>Quote Number:</label>
    <input [(ngModel)]="search_quoteNumber" />
  </div>

  <div class="input">
    <label>Name Insured:</label>
    <input placeholder="Search" />
  </div>

  <div class="input">
    <label>Document Type:</label>
    <select>
      <option value="dummy1">Dummy1</option>
      <option value="dummy2">Dummy2</option>
      <option value="dummy3">Dummy3</option>
    </select>
  </div>

  <div class="input">
    <label>Document Sub-Type:</label>
    <select>
      <option value="dummy1">Dummy1</option>
      <option value="dummy2">Dummy2</option>
      <option value="dummy3">Dummy3</option>
    </select>
  </div>

  <div class="input">
    <label>Received Date:</label>
    <input type="date" />
  </div>

  <div class="input">
    <label>User:</label>
    <input />
  </div>

  <div class="input">
    <label>Title:</label>
    <input />
  </div>

  <div class="input">
    <label>Effective Date:</label>
    <input type="date" />
  </div>

  <div class="input">
    <label>Expiry Date:</label>
    <input type="date" />
  </div>
  <div class="input">
    <button (click)="search()">Search only on quote number</button>
  </div>
</div>



<div *ngIf="selectedLOB==1 && selectedStatus==2">
  <div class="input">
    <label>Policy Number:</label>
    <input />
  </div>

  <div class="input">
    <label>Name Insured:</label>
    <input />
  </div>

  <div class="input">
    <label>Document Type:</label>
    <select>
      <option value="dummy">Dummy</option>
    </select>
  </div>

  <div class="input">
    <label>Document Sub-Type:</label>
    <select>
      <option value="dummy">Dummy</option>
    </select>
  </div>

  <div class="input">
    <label>Effective Date:</label>
    <input type="date" />
  </div>

  <div class="input">
    <label>Expiry Date:</label>
    <input type="date" />
  </div>

  <div class="input">
    <label>Received Date:</label>
    <input type="date" />
  </div>

  <div class="input">
    <label>User:</label>
    <input />
  </div>

  <div class="input">
    <label>Title:</label>
    <input />
  </div>

  <div class="input">
    <label>Effective Date of Change:</label>
    <input type="date" />
  </div>

  <div class="input">
    <label>Program:</label>
    <select>
      <option value="dummy">Dummy</option>
    </select>
  </div>
  <div class="input">
    <button (click)="search()">Search only on quote number</button>
  </div>
</div>



<div *ngIf="selectedLOB==2 && selectedStatus==1">
  <div class="input">
    <label>Quote Number:</label>
    <input />
  </div>

  <div class="input">
    <label>Name Insured:</label>
    <input />
  </div>

  <div class="input">
    <label>Document Type:</label>
    <select>
      <option value="dummy">Dummy</option>
    </select>
  </div>

  <div class="input">
    <label>Document Sub-Type:</label>
    <select>
      <option value="dummy">Dummy</option>
    </select>
  </div>

  <div class="input">
    <label>User:</label>
    <input />
  </div>

  <div class="input">
    <label>Title:</label>
    <input />
  </div>

  <div class="input">
    <label>Received Date:</label>
    <input type="date" />
  </div>

  <div class="input">
    <label>Effective Date:</label>
    <input type="date" />
  </div>

  <div class="input">
    <label>Expiry Date:</label>
    <input type="date" />
  </div>
  <div class="input">
    <button (click)="search()">Search</button>
  </div>
</div>



<div *ngIf="selectedLOB==2 && selectedStatus==2">
  <div class="input">
    <label>Policy Number:</label>
    <input />
  </div>

  <div class="input">
    <label>Name Insured:</label>
    <input />
  </div>

  <div class="input">
    <label>Document Type:</label>
    <select>
      <option value="dummy">Dummy</option>
    </select>
  </div>

  <div class="input">
    <label>Document Sub-Type:</label>
    <select>
      <option value="dummy">Dummy</option>
    </select>
  </div>

  <div class="input">
    <label>User:</label>
    <input />
  </div>

  <div class="input">
    <label>Title:</label>
    <input />
  </div>

  <div class="input">
    <label>Effective Date:</label>
    <input type="date" />
  </div>

  <div class="input">
    <label>Expiry Date:</label>
    <input type="date" />
  </div>

  <div class="input">
    <label>Received Date:</label>
    <input type="date"  />
  </div>

  <div class="input">
    <label>Effective Date of Change:</label>
    <input type="date" />
  </div>
  <div class="input">
    <button (click)="search()">Search only on quote number</button>
  </div>
</div>

<div>
	List of Retrievable Files:
</div>
<div *ngFor="let aResult of searchResult">
    <div *ngFor= "let file of aResult.files">
		<button (click) = "downloadFile(aResult._id, file.filename, file.file_content_type)">download file - {{file.filename}}</button>&nbsp;&nbsp;
		<button (click) = "openFileInTab(aResult._id, file.filename, file.file_content_type)">open in another tab - {{file.filename}}</button>
	</div>
</div>
